.advantage-page {
  padding-top: 94px;
  padding-bottom: 100px;
}

.advantage-list {
  display: flex;
}

.advantage__icon {
  width: 70px;
  height: 70px;
}

.advantage__item {
  max-width: 270px;
}

.advantage-container {
  text-align: center;
  max-width: 270px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantage__header {
  margin-bottom: 9px;
  font-weight: 700;
  font-size: inherit;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantage__description {
  color: var(--descripting-text);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advantage__item:not(:last-child) {
  margin-right: 30px;
}
.advantage-container {
  margin-bottom: 30px;
}